{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- BEGIN CONTENT -->
    <main class="content">
        <div class="section-welcome">
            <div class="welcome_slider js-welcome_slider">
                {% for f in featured_posts %}
                    <div class="welcome_slider_item slick-slide"><a href="{% url 'post_details' f.slug %}" class="cover_link"></a>
                        <div class="welcome_slider_img"><img data-src="{{f.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></div>
                        <div class="welcome_slider_cont">
                            <div class="welcome_slider_cats cats">
                                <a href="{% url 'Blog' %}" class="cats_item">{{f.category}}</a>
                            </div>
                            <div class="welcome_slider_title h3"><a href="{% url 'post_details' f.slug %}">{{f.title}}</a></div>
                            <div class="welcome_slider_infoline infoline">
                                <div class="infoline_date">{{f.created_at}}</div> <span class="dash"></span>
                                <div class="infoline_author">
                                    <div class="ava"><img data-src="{% static 'img/ava6.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></div>
                                    {{f.author}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <section class="section-stories">
            <div class="wrapper">
                <a href="#" class="bann"><img src="{% static 'img/bad3.jpg' %}" alt=""/></a>
                <div id="recent" class="recent_wrap">
                    <div class="section_title">
                        <h2>Recent stories</h2>
                    </div>
                    <div class="columns">
                        <div class="columns_center">
                            <div class="recent">
                                {% for r in recent_posts %}
                                    <div class="recent_item">
                                        <div class="recent_item_img">
                                            <a href="{% url 'post_details' r.slug %}"><img data-src="{{r.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a>
                                            <div class="recent_item_cats cats"><a href="{% url 'Blog' %}" class="cats_item">{{r.category}}</a></div>
                                        </div>
                                        <div class="recent_item_cont">
                                            <div class="recent_item_title h3"><a href="{% url 'post_details' r.slug %}">{{r.title}}</a></div>
                                            <div class="recent_item_txt">{{r.content|truncatewords:25}}</div>
                                            <div class="recent_item_infoline infoline">
                                                <div class="infoline_date">{{r.created_at}}</div> <span class="dash"></span>
                                                <div class="infoline_author">
                                                    <div class="ava"><img data-src="{{r.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></div>
                                                    {{r.author}}
                                                </div>
                                                <a href="{% url 'post_details' r.slug %}" class="btn-arr"><span class="icon-arrow"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <aside class="columns_sidebar sidebar">
                            <div class="sidebar_widget">
                                <div class="stories">
                                    {% for s in side_recent_posts %}
                                        <div class="stories_item">
                                            <div class="stories_item_img"><a href="{% url 'post_details' s.slug %}"><img data-src="{{s.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a></div>
                                            <div class="stories_infoline infoline">
                                                <div class="infoline_date">{{s.created_at}}</div> <span class="dash"></span>
                                                <div class="infoline_tag">#{{s.category}}</div>
                                            </div>
                                            <div class="stories_item_title"><a href="{% url 'post_details' s.slug %}">{{s.title}}</a></div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="stories_btn"><a href="{% url 'Blog' %}" class="btn">view all</a></div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>  
        <section class="section-popular" id="popular">
            <div class="wrapper">
                <div class="section_title">
                    <h2>Popular posts</h2>
                    <a href="{% url 'Blog' %}" class="link-view">View all posts <span class="icon-arr"></span></a>
                </div>
                <div class="columns columns-invers">
                    <div class="columns_center">
                        <div class="popular_main">
                            <div class="popular_main_img"><a href="{% url 'post_details' popular_post.slug %}"><img data-src="{{popular_post.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a></div>
                            <div class="popular_main_cont">
                                <div class="popular_main_infoline infoline">
                                    <div class="infoline_date">popular_post.created_at</div> <span class="dash"></span>
                                    <div class="infoline_tag">#{{popular_post.category}}</div>
                                </div>
                                <div class="popular_main_title h3"><a href="{% url 'post_details' popular_post.slug %}">{{popular_post.title}}</a></div>
                                <div class="popular_main_txt">
                                    {{popular_post.content|truncatewords:10}}
                                </div>
                                <a href="{% url 'post_details' popular_post.slug %}" class="link-view">Read more <span class="icon-arr"></span></a>
                            </div>
                        </div>
                    </div>
                    <aside class="columns_sidebar sidebar">
                        <div class="sidebar_widget">
                            <div class="popular">
                                {% for p in side_popular_posts %}
                                    <div class="popular_item">
                                        <div class="popular_item_img"><a href="{% url 'post_details' p.slug %}"><img data-src="{{p.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a></div>
                                        <div class="popular_item_cont">
                                            <div class="popular_item_title"><a href="{% url 'post_details' p.slug %}">{{p.title|truncatewords:05}}</a></div>
                                            <div class="popular_item_infoline infoline">
                                                <div class="infoline_date">{{p.created_at}}</div> <span class="dash"></span>
                                                <div class="infoline_tag">#{{p.category}}</div> <span class="dash"></span>
                                                <div class="infoline_tag"><span class="icon-comm"></span>5</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <section class="section-readed">
            <div class="wrapper">
                <a href="#" class="bann"><img data-src="{% static 'img/bad4.jpg' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a>
                <div class="columns" id="mostreaded">
                    <div class="columns_center">
                        <div class="section_title">
                            <h2>Most read posts</h2>
                            <a href="{% url 'Blog' %}" class="link-view">View all posts <span class="icon-arr"></span></a>
                        </div>
                        <div class="readed">
                            {% for m in most_read_posts %}
                                <div class="readed_item">
                                    <div class="readed_item_img">
                                        <a href="{% url 'post_details' m.slug %}"><img data-src="{{m.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a>
                                        <div class="readed_item_cats cats">
                                            <a href="{% url 'Blog' %}" class="cats_item">{{m.category}}</a>
                                            <a href="{% url 'Blog' %}" class="cats_item">{{m.category}}</a>
                                        </div>
                                    </div>
                                    <div class="readed_item_cont">
                                        <div class="readed_item_title"><a href="{% url 'post_details' m.slug %}">{{m.title|truncatewords:05}}</a></div>
                                        <div class="readed_item_infoline infoline">
                                            <div class="infoline_date">{{m.created_at}}</div> <span class="dash"></span>
                                            <div class="infoline_author">
                                                <div class="ava"><img data-src="{{m.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></div>
                                                {{m.author}}
                                            </div>
                                            <a href="{% url 'post_details' m.slug %}" class="btn-arr"><span class="icon-arrow"></span></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <aside class="columns_sidebar sidebar">
                        <div class="section_title">
                            <h2>Categories</h2>
                        </div>
                        <div class="sidebar_widget">
                            <ul class="catlist">
                                {% for cat in categories %}
                                    <li><a href="{% url 'Blog' %}"><span>{{ cat.name }}</span> (-)</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="#" class="bann"><img data-src="{% static 'img/bad2.jpg' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a>
                    </aside>
                </div>
            </div>
        </section>
        <section class="section-subsc">
            <div class="wrapper">
                <form>
                    <div class="subsc">
                        <h3>Stay up to date!<br/>Sunscribe!</h3>
                        <input type="text" class="form-control" placeholder="Your email"/>
                        <button class="btn">subscribe</button>
                    </div>
                </form>
            </div>
        </section>
        <section class="section-hot" id="hot">
            <div class="wrapper">
                <div class="section_title">
                    <h2>Hot stuff</h2>
                </div>
                <div class="hot">
                    <div class="hot_img"><a href="{% url 'post_details' hot_post.slug %}"><img data-src="{{hot_post.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a></div>
                    <div class="hot_cont">
                        <div class="hot_cats cats">
                            <a href="{% url 'Blog' %}" class="cats_item">{{hot_post.category}}</a>
                        </div>
                        <h2 class="hot_title"><a href="{% url 'post_details' hot_post.slug %}">{{hot_post.title|truncatewords:05}}</a></h2>
                        <div class="hot_txt">{{hot_post.content|truncatewords:15}}</div>
                        <div class="hot_infoline infoline">
                            <div class="infoline_date">{{hot_post.created_at}}</div> <span class="dash"></span>
                            <div class="infoline_author">
                                <div class="ava"><img data-src="{{hot_post.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></div>
                                {{hot_post.author}}
                            </div>
                        </div>
                        <a href="{% url 'post_details' hot_post.slug %}" class="link-view">Read more <span class="icon-arr"></span></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-topof" id="top">
            <div class="wrapper">
                <div class="section_title">
                    <h2>top of the week</h2>
                    <a href="{% url 'Blog' %}" class="link-view">View all posts <span class="icon-arr"></span></a>
                </div>
                <div class="topof">
                    {% for t in top_of_the_week %}
                        <div class="topof_item">
                            <div class="topof_item_img"><a href="{% url 'post_details' t.slug %}"><img data-src="{{t.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></a></div> 
                            <div class="topof_cats cats">
                                <a href="{% url 'Blog' %}" class="cats_item">{{t.category}}</a>
                                <a href="{% url 'Blog' %}" class="cats_item">{{t.category}}</a>
                            </div>
                            <div class="topof_item_title"><a href="{% url 'post_details' t.slug %}">{{t.title|truncatewords:10}}</a></div>
                            <div class="topof_item_infoline infoline">
                                <div class="infoline_date">{{t.created_at}}</div> <span class="dash"></span>
                                <div class="infoline_author">
                                    <div class="ava"><img data-src="{{t.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt=""/></div>
                                    {{t.author}}
                                </div>
                            </div>
                            <a href="{% url 'post_details' t.slug %}" class="link-view">Read more <span class="icon-arr"></span></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
<!-- CONTENT EOF   -->
    
{% endblock content %}
